.checkbox_container {
	line-height:inherit;
	display:inline-block;
	/*border:1px solid #ff0000;*/
	vertical-align:middle;	
	margin-top:-2px;/*5px-2px*/
	margin-right:10px;	
}
.checkbox {
	/*margin-top:-2px;*/
	line-height:inherit;	
	vertical-align:middle;
	display:inline-block;
}

.checkbox_container img {
	cursor:pointer;
}

td .checkbox_container img {
	margin-top:0px;	
}
